<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control", autofocus: true, placeholder: "Enter First Name", required: true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: "form-control", autofocus: true, placeholder: "Enter Last Name", required: true %>
  </div>
  <div class="field">
    <%= f.label :d_o_b %><br>
    <%= f.date_select :d_o_b, start_year: 1980 %>
  </div>
  <div class="field">
    <%= f.label :designation %><br>
    <%= f.text_field :designation, class: "form-control", autofocus: true, placeholder: "Enter Designation", required: true %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender, class: "form-control", autofocus: true, placeholder: "Enter Gender", required: true %>
  </div>
  <div class="field">
    <%= f.label :skill %><br>
    <%= f.text_field :skill, class: "form-control", autofocus: true, placeholder: "Enter Skill", required: true %>
  </div>
   <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control", autofocus: true, placeholder: "Enter Email", required: true %>
  </div>
   <div class="field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile, class: "form-control", autofocus: true, placeholder: "Enter Mobile number", required: true %>
  </div><br>
  
  <%= f.submit class:"btn btn-success btn-fix" %>

<% end %>
