<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>
<% if !current_user.profile.nil? %>
<table class="table table-bordered", id="myTable">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>D o b</th>
      <th>Designation</th>
      <th>Gender</th>
      <th>mobile</th>
      <th>email</th>
      <th>Skill</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.d_o_b %></td>
        <td><%= profile.designation %></td>
        <td><%= profile.gender %></td>
        <td><%= profile.mobile %></td>
        <td><%= profile.email %></td>
        <td><%= profile.skill %></td>
        <td><%= link_to profile do %><span class= "glyphicon glyphicon-eye-open"></span><% end %>|
            <%= link_to edit_profile_path(profile) do %><span class= "glyphicon glyphicon-pencil"></span>
                            <% end %>|
            <%= link_to profile, method: :delete, data: { confirm: 'Are you sure?' } do %><span class= "glyphicon glyphicon-trash"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%else%>
  <h3>No Profile</h3>
<% end %>
                            

<br>
<% if current_user.profile.nil? %>
<%= button_to "New Profile", new_profile_path, :class => "btn btn-primary", :method => :get %>
<% end %>
