

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile Details</h3>
  </div>
<div class="panel-body">

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>D o b:</strong>
  <%= @profile.d_o_b %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @profile.designation %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @profile.skill %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @profile.mobile %>
</p>


</div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%@profile.first_name%> Assignment Details</h3>
  </div>
<div class="panel-body">
<table class="table table-bordered", id="myTable">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Name</th>
      <th>Due at</th>
      <th>Assigned To</th>
      <th>Category</th>
      <th>Is completed</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
  <%if !@assignments.nil?%>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.activity.name %></td>
        <td><%= assignment.name %></td>
        <td><%= assignment.due_at.strftime("%b %Y %H") %></td>
        <td><%assignment.users.pluck(:name).each do |email|%>
              <p><%=email%></p>
            <%end%></td>
        <td><%= assignment.category.name %></td>
        <td><%= assignment.is_completed %></td>
        <td><%= link_to assignment do %><span class= "glyphicon glyphicon-eye-open"></span><% end %>|
            <%= link_to edit_assignment_path(assignment) do %><span class= "glyphicon glyphicon-pencil"></span>
                            <% end %>|
            <%= link_to assignment, method: :delete, data: { confirm: 'Are you sure?' } do %><span class= "glyphicon glyphicon-trash"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

            
            

<br>
<% if can? :create, @assignment %>
<%= link_to "New Assignment", new_assignment_path, class:"btn btn-primary"%>

<% end %>
</div>
</div>

