<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Profile Details</h3>
  </div>
<div class="panel-body">

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>D o b:</strong>
  <%= @profile.d_o_b %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @profile.designation %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @profile.skill %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @profile.mobile %>
</p>

<a class="btn btn-primary" href="<%=edit_profile_path(@profile)%>" role="button" style="color:white">Edit</a>
<a class="btn btn-primary" href="<%=profiles_path%>" role="button" style="color:white">Back</a>


</div>
</div>
