<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plan_month %><br>
    <%= f.date_select :plan_month, discard_day: true, class: "form-control", autofocus: true, placeholder: "Entere Date", required: true %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, class: "form-control", autofocus: true, placeholder: "Entere Date", required: true %>
  </div>

  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.collection_select :company_id, Company.all, :id, :name, prompt: "select Company", class: "form-control", autofocus: true, placeholder: "Entere Date", required: true %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.select :category, %w[MPM MRM], class: "form-control", autofocus: true, placeholder: "Entere Date", required: true %>
  </div><br>
  
  <%= f.submit class:"btn btn-success btn-fix" %>

<% end %>


