<p id="notice"><%= notice %></p>

<div class="well well-sm">
  <strong>Plan month:</strong>
  <%= @meeting.plan_month.strftime('%B %Y') %> | <strong>Category:</strong>
  <%= @meeting.category %> | <strong>Date:</strong>
  <%= @meeting.date.strftime("%A %d %b %y %R") %> | <strong>Company:</strong>
  <%= @meeting.company.name %> 

<% if can? :update, @plan %>
  <a class="btn btn-primary" href="<%=edit_meeting_path(@meeting)%>" role="button" style="color:white">Edit</a><% end %>
  <a class="btn btn-primary" href="<%=meetings_path%>" role="button" style="color:white">Back</a>

</div>





<div class = "row">
  <div class = "col-md-8">
  

<% data = {} %>
<% for status in Status.all %>
  <%@count=0%>
  <%for plan in @meeting.plans %>
    <%if plan.status_id == status.id%>
      <%@count=@count+1%>
    <%end%>
  <%end%>
  <% data ["#{status.name}"] = @count %>
<% end %>

<%= pie_chart(data) %>



<% data = {} %>
<% for status in Status.all %>
  <%@count=0%>
  <%for plan in @meeting.plans %>
    <%if plan.status_id == status.id%>
      <%@count=@count+1%>
    <%end%>
  <%end%>
<% data ["#{status.name}"] = @count %>
<% end %>
<%= column_chart(data) %>
  

</div>

<div class = "col-md-4">

<div class="well well-sm"><% @plan = Plan.new %>
<%= form_for([@meeting, @plan]) do |f| %>
<% plans = @meeting.plans %>
<h3> Total plans - <%= plans.size %></h3></div>
    
          



     <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Add Plans </h3>
  </div>
  <div class="panel-body">
    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name, rows: 3, cols: 60, class: "form-control", autofocus: true, placeholder: "Entere Name", required: true %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.collection_select :status_id, Status.all, :id, :name, prompt: "Select Status" %>
  </div>
  <div class="field">
    <%= f.label :meeting_id %><br>
    <%= f.collection_select :meeting_id, Meeting.all, :id, :formatted_date, prompt: "Select Meeting" %>
  </div>
  <div class="field">
    <%= f.label :priority_id %><br>
    <%= f.collection_select :priority_id, Priority.all, :id, :name, prompt: "Select Priority" %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.select :rating, %w[1 2 3 4 5]  %>
  </div>
  <div class="field">
    <ul>
      <% for user in User.all %>
        <li><%= user.email %></li>
      <% end %>
    </ul>
  </div>
  

       <%= button_tag(type: 'submit', class: "btn btn-success") do %>
                     <i class="icon-ok icon-white"></i> Create Plan
      <% end %>

<% end %>
  </div>
</div>





  


</div>
  </div>




<div class = "row">
  <div class = "col-md-6">
      <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Plan</h3>
  </div>
  <div class="panel-body">
    

          <ul>
          <% for plan in @meeting.plans %>
          	<li>
          		<%= plan.details %>
          	</li>
          	<% end %>
          </ul>>
  </div>
  </div>
  </div>

   <div class = "col-md-6">

         <div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Listing Status wise plans</h1>
  </div>
  <div class="panel-body">

          
          <% statuses = Status.all %>
            <% for status in statuses %>
            
          <% plans = Plan.where('status_id = ?', status.id) %>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne<%=status.id%>" aria-expanded="true" aria-controls="collapseOne<%=status.id%>">
          <h5><%=status.name%></h5>
            </a>
          </h4>
            </div>
            <div id="collapseOne<%=status.id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                    <% for plan in plans %>
                    <%= link_to plan.details, plan_path(plan) %> 
                    <% end %>
            </div>
            </div>

            </div>
             <br/>
          <% end %>
            </div>
            </div>
            </div>




   </div>

</div>









	
