<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>

<table class="table table-bordered", id="myTable">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Name</th>
      <th>Due at</th>
      <th>Category</th>
      <th>Is completed</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.activity.name %></td>
        <td><%= assignment.name %></td>
        <td><%= assignment.due_at.strftime("%b %Y %H") %></td>
        <td><%= assignment.category.name %></td>
        <td><%= assignment.is_completed %></td>
        <td><%= link_to assignment do %><span class= "glyphicon glyphicon-eye-open"></span><% end %>|
            <%= link_to edit_assignment_path(assignment) do %><span class= "glyphicon glyphicon-pencil"></span>
                            <% end %>|
            <%= link_to assignment, method: :delete, data: { confirm: 'Are you sure?' } do %><span class= "glyphicon glyphicon-trash"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>


            
            

<br>
<% if can? :create, @assignment %>
<%= button_to "New Assignment", new_assignment_path, :class => "btn btn-primary", :method => :get %>

<% end %>
