<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>

<table id="myTable">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Name</th>
      <th>Due at</th>
      <th>Category</th>
      <th>Is completed</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.activity.name %></td>
        <td><%= assignment.name %></td>
        <td><%= assignment.due_at.strftime("%b %Y %H") %></td>
        <td><%= assignment.category.name %></td>
        <td><%= assignment.is_completed %></td>
        <td><%= link_to 'Show', assignment %>
            <%= link_to 'Edit', edit_assignment_path(assignment) %>
            <%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, @assignment %>
<%= link_to 'New Assignment', new_assignment_path %>
<% end %>
