<p id="notice"><%= notice %></p>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @assignment.name %></h3>
  </div>
  <div class="panel-body">
    <p>
  <strong>Due at:</strong>
  <%= @assignment.due_at.strftime('%b %y %h') %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @assignment.activity.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @assignment.category.name %>
</p>

<p>
  <strong>Is completed:</strong>
  <%= @assignment.is_completed %>
</p>

<a class="btn btn-primary" href="<%=edit_assignment_path(@assignment)%>" role="button" style="color:white">Edit</a>
<a class="btn btn-primary" href="<%=assignments_path%>" role="button" style="color:white">Back</a>


  </div>
</div>



