<div class = "row">
  <div class = "col-md-2">
  </div>



<div class = "col-md-5">
   <div class ="page-header">
      <h2>New Status</h2>
  </div>


<%= form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "Entere Status", required: true %>
  </div>
   <%= button_tag(type: 'submit', class: "btn btn-success") do %>
  <i class="icon-ok icon-white"></i> create status
  <% end %>

  <%= link_to 'Back', statuses_path %>
<% end %>
</div>

 <div class = "col-md-5">
  </div>
  </div>
