<h1 class="fonts" style="text-align:center; padding-top:0px">Dash Board</h1>

	<div class="row">	
	 <div class="col-md-6">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		      <h3 class="panel-title">Plans Calender</h3>
		  </div>
			<div class="panel-body">
				<script type="text/javascript">
			  $(function() {
			    $('#calendar').fullCalendar({
			      header: {
			        left:   'today,prev,next',
			        center: 'title',
			        right:  'month,agendaWeek,agendaDay'
			      },

			      events: [
			      <% for meeting in @meetings%>
			        <% for plan in meeting.plans %>
			          {
			            title: '<%=plan.name%>',
			            start: '<%=plan.start_date.iso8601%>',
			            url: '<%="/plans/#{plan.id}"%>'
			          },
			        <% end %>
			        <% end %>
			      ]
			     	});

					});
				</script>
				<div id="calendar"></div>
			</div>
		</div>
	</div>
	<div class="row">	
		<div class="col-md-6">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			      <h3 class="panel-title">Category Listing</h3>
			  </div>
				<div class="panel-body">
					<%data = {}%>
					<table class="table table-bordered", id ="myTable">
					  <thead>
					    <tr>
					      <th>Name</th>
					      <th>No Of Assignments</th>
					      <th>Actions</th>
					    </tr>
					  </thead>
						<tbody>
					    <% @categories.each do |category| %>
					    <% data ["#{category.name}"] = category.assignments.count %>
					      <tr>
					        <td><%= category.name %></td>
					        <td><%= category.assignments.count%></td>
					        <td><%= link_to category do %><span class= "glyphicon glyphicon-eye-open"></span><% end %>|
					            <%= link_to edit_category_path(category) do %><span class= "glyphicon glyphicon-pencil"></span>
					                            <% end %>|
					            <%= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do %><span class= "glyphicon glyphicon-trash"></span><% end %></td>
					      </tr>
					    <% end %>
					  </tbody>
				</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary">
			  <div class="panel-heading">
			      <h3 class="panel-title">Rating Listing</h3>
			  </div>
				<div class="panel-body">
					<%ratings=Plan.all.pluck(:rating).uniq%>
					<%datas = {}%>
			   	<%count=1%>
					<table class="table table-bordered", id ="myTable">
			  		<%for rating in ratings%>
			    		<tr>
				    		<td>Rating <%=rating%></td>
			   				<td><%=Plan.where("rating = ?",rating).count%></td>
			    		</tr>
			    		<% datas ["Rating #{rating}"] = @plan.where("rating= ?",rating).size %>
			    		<%count+=1%>
						<%end%>
					</table>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">	
		<div class="panel panel-default">
	    <div class="panel-heading"><h3 style="text-align:center">Status Bar Graph</h3></div>
	    <div class="panel-body">
	      <%= column_chart(data) %>
			</div>
		</div>
	</div>
	<div class="row">	
		<div class="panel panel-default">
	    <div class="panel-heading"><h3 style="text-align:center">Rating Bar Graph</h3></div>
	    <div class="panel-body">
	      	<%= column_chart(datas) %>
			</div>
		</div>
	</div>