<div class = "row">
  <div class = "col-md-2">
  </div>



<div class = "col-md-5">
   <div class ="page-header">
      <h2>New Priority</h2>
  </div>


<%= form_for(@priority) do |f| %>
  <% if @priority.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@priority.errors.count, "error") %> prohibited this priority from being saved:</h2>

      <ul>
      <% @priority.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "Entere Name", required: true  %>
  </div>

  <%= button_tag(type: 'submit', class: "btn btn-info") do %>
  <i class="icon-ok icon-white"></i> create priority
  <% end %>
  <%= link_to 'Back', priorities_path %>
</div>
  <% end %>


</div>

 <div class = "col-md-5">
  </div>
  </div>
