<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Company Details</h3>
  </div>
<div class="panel-body">

<p>
  <strong>Suffix:</strong>
  <%= @company.suffix %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @company.sector %>
</p>

<p>
  <strong>Cin no:</strong>
  <%= @company.cin_no %>
</p>

<p>
  <strong>Pan no:</strong>
  <%= @company.pan_no %>
</p>
<a class="btn btn-primary" href="<%=edit_company_path(@company)%>" role="button" style="color:white">Edit</a>
<a class="btn btn-primary" href="<%=companies_path%>" role="button" style="color:white">Back</a>

</div>
</div>


