<p id="notice"><%= notice %></p>

<p>
  <strong>Suffix:</strong>
  <%= @company.suffix %>
</p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @company.sector %>
</p>

<p>
  <strong>Cin no:</strong>
  <%= @company.cin_no %>
</p>

<p>
  <strong>Pan no:</strong>
  <%= @company.pan_no %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
