<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-7">

<h1>Listing Categories</h1>

<table class="table table-bordered", id ="myTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>No Of Assignments</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td> <%= category.assignments.count%>
        <td><%= link_to category do %><span class= "glyphicon glyphicon-eye-open"></span><% end %>|
            <%= link_to edit_category_path(category) do %><span class= "glyphicon glyphicon-pencil"></span>
                            <% end %>|
            <%= link_to category, method: :delete, data: { confirm: 'Are you sure?' } do %><span class= "glyphicon glyphicon-trash"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-md-5">   
<div class="panel panel-primary" style="margin-top: 120px;">
  <div class="panel-heading">
    <h3 class="panel-title">New Category</h3>
  </div>
  <div class="panel-body">         
<%= render 'form' %>      
</div>    
</div>
</div>
</div>

