<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-7">
<h1>Listing Activities</h1>

<table class="table table-bordered", id="myTable"> 
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= link_to activity do %><span class= "glyphicon glyphicon-eye-open"></span><% end %>|
            <%= link_to edit_activity_path(activity) do %><span class= "glyphicon glyphicon-pencil"></span>
                            <% end %>|
            <%= link_to activity, method: :delete, data: { confirm: 'Are you sure?' } do %><span class= "glyphicon glyphicon-trash"></span><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-md-5 padding">
<div class="panel panel-primary" style="margin-top: 10px;">
  <div class="panel-heading">
    <h3 class="panel-title fonts">New Activity</h3>
  </div>
  <div class="panel-body">
  <%= render 'form' %>
  </div>
  </div>
</div>
</div>

