<p id="notice"> <%= notice %> </p>

<h1>Listing Plans</h1>



<table id="myTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Status</th>
      <th>Meeting</th>
      <th>Priority</th>
      <th>Rating</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.name %></td>
        <td><%= plan.start_date %></td>
        <td><%= plan.status.name %></td>
        <td><%= plan.meeting.plan_month.strftime("%b %Y") %></td>
        <td><%= plan.priority.name %></td>
        <td><%= plan.rating %></td>
        <td><%= link_to 'Show', plan %>
            <%= link_to 'Edit', edit_plan_path(plan) %>
            <%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Plan.new %>
<%= link_to 'New Plan', new_plan_path %>
<% end %>

<%= data = {} %>
<% for priority in Priority.all %>
<% data ["#{priority.name}"] = priority.plans.count %>
<% end %>
<%= pie_chart(data) %>

<% plans = {} %>
<% Plan.all.each do |plan| %>
  <% plans["#{plan.name}"] = plan.assignments.size %>
  <% end %>

  <%= bar_chart(plans) %> 



<h2>Listing Priority wise plans</h2>

<% priorities = Priority.all %>
<ul>
  <% for priority in priorities %>
  <h3><%= priority.name %></h3>
  <% plans = Plan.where('priority_id = ?', priority.id) %>
  <ul>
    <% for plan in plans %>
      <li><%= link_to plan.details, plan_path(plan) %> </li>
    <% end %>
  </ul>
  <% end %>
</ul>

